<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Page Demo</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="/js/app.js"></script>
</head>
<body>
  {{>header}} 
  {{!-- This is how to render partials by using hbs way --}}
  {{!-- <h3>About page for express js render (HBS render version)</h3> --}}
  <p>HBS: Dynamic render tool</p>
  <img src="/images/screen-1.png" />
</body>
</html>